<!DOCTYPE html>
<html>

<head>
    <title>My very first Vue app</title>
    <script src="vue_2.4.2.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <br><br>
    <div class="container jumbotron">
        <div class="page-header">
            <h2>Vue.js</h2>
        </div>

        <div id="app">
            {{ message }}
        </div>
        <div id="app-2">
            <span v-bind:title="message">
        Hace un hover de este elemento
      </span>
        </div>
        <div id="app-3" onclick="toggle()">
            <p v-if="seen">Click para desaparecer</p>
        </div>
        <div id="app-4">
            <h3>Todos con un for</h3>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Revertir mensaje</button>
        </div>
        <div id="app-6">
            <p>{{ title }}</p>
            <input v-model="message"></input>
            <span>{{message}}</span>
        </div>
        <div id="app-7">
            <h3>Todos</h3>
            <ol>
                <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
                </todo-item>
            </ol>
        </div>
    </div>
    <script src="index.js" type="text/javascript"></script>
</body>

</html>