<!DOCTYPE html>
<html>

<head>
    <title>My very first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <br><br>
    <div class="container jumbotron">
        <div class="page-title">
            <h2>Vue.js</h2>
        </div>

        <div id="app">
            {{ message }}
        </div>
        <div id="app-2">
            <span v-bind:title="message">
        Hace un hover de este elemento
      </span>
        </div>
        <div id="app-3" onclick="toggle()">
            <p v-if="seen">Click para desaparecer</p>
        </div>
        <div id="app-4">
            <h3>Todos con un for</h3>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Revertir mensaje</button>
        </div>
        <div id="app-6">
            <p>{{ title }}</p>
            <input v-model="message"></input>
            <span>{{message}}</span>
        </div>
        <div id="app-7">
            <h3>Todos</h3>
            <ol>
                <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
                </todo-item>
            </ol>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hola Juan!',
            }
        });
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'Cargaste esta página  ' + new Date(),
            }
        });
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        });
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [{
                    text: 'Learn JavaScript'
                }, {
                    text: 'Learn Vue'
                }, {
                    text: 'Build something awesome'
                }]
            }
        });
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Esta es mi primera práctica con Vue.js.'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });
        var app6 = new Vue({
            el: '#app-6',
            data: {
                title: 'Al estilo angular',
                message: ''
            }
        });

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>',
        });

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [{
                    id: 0,
                    text: 'Verduras'
                }, {
                    id: 1,
                    text: 'Carne'
                }, {
                    id: 2,
                    text: 'Vino tinto'
                }]
            }
        });

        function toggle() {
            if (app3.seen) {
                app3.seen = false;
            } else {
                app3.seen = true;
            }
        };
    </script>
</body>

</html>